@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #947b62;
  --selected: #f5f0ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-selected: var(--selected);
  --font-fraunces: "Fraunces", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}